.pf-container{
   font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
/*************************************************************************************************/
/*********************************    NAVIGATION BAR CSS    **************************************/
/*************************************************************************************************/
   nav{
      background-color:#494949;
      //#753236;
      //#275467;
      .pf-NavBar{
         .pf-Home{
            a{
               img{
                  margin-top:-6px;
                  width:40px;
               }
            }
         }
         ul{
            li{
               a{
                  color:white;
                  display:block;
                  font-size:1.2em;
                  &:hover , &:focus{
                     background-color:transparent;
                     color:black;
                     font-size:1.2em;
                  }
                  &:active{
                     background-color:transparent;
                     color:black;
                     font-size:1.2em;
                  }
               }
               &:hover, &:focus, &:active{
                background-color:transparent;
                border-bottom:1px solid white;
               }
            }
         }
      }
   }
/*************************************************************************************************/
/*********************************   PARALLAX EFFECT CSS    **************************************/
/*************************************************************************************************/
   .pf-section{
      font-family:Times, Times New Roman, Georgia, serif;
      header{
         padding:1em 0.5em;
         text-align:center;
         font-size:3em;
         font-weight:bold;
         color:black;
         hr{
            border:none;
            border-top:1px solid black;
            width:80px;
         }
      }
      .parallax {
         /* The image used */

         /* Set a specific height */
         min-height: 720px; 
         /* Create the parallax scrolling effect */
         background-attachment: fixed;
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
   
   /* Hero image quotes css */
         .pf-well{
            color:black;
            font-weight: bold;
            h1{
               font-size:5em;
               margin-top:0em;
               padding-top:4em;
            }
         }
   /* Experience, Skills and Project css */      
         .pf-list{
            text-align:left;
            ul{
               padding-top: 18em;
               li{
                  list-style-type:none;
                  h2{
                     color:orange;
                  }     
               }
            }
         }
   /* Contact box image and content css */      
         .pf-contactBox{
            margin-top:4em;
            color:#FA5F17; 
            border-radius:4px;
            .pf-pic{
               margin-top:1em;
               height:10em;
               width:10em;
               border-radius:4px; 
               // &:hover{
               // }
            }
            .pf-contactCont{
              font-weight:medium;
              font-size:2em;
               h4{
                  color:black;
                  font-size:2em;
               }
               p{
                  color:black;   
                  a{
                     color:black;
                  }
               }
            }
         }
      }
   }
}
/*************************************************************************************************/
/******************************************   FOOTER CSS    **************************************/
/*************************************************************************************************/
footer{
   p{
      color:#494949;
      a{
         .logo-pic{
            height: 2.2em; 
            width:2.2em;
         }
      }
   }
}
