.pf-container {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  /*********************************/
  /***     Main Header css       ***/
  /*********************************/ }
  .pf-container nav {
    background-color: #494949; }
    .pf-container nav .pf-NavBar .pf-Home a img {
      margin-top: -6px;
      width: 40px; }
    .pf-container nav .pf-NavBar ul li a {
      color: white;
      display: block;
      font-size: 1.2em; }
      .pf-container nav .pf-NavBar ul li a:hover, .pf-container nav .pf-NavBar ul li a:focus {
        background-color: transparent;
        color: black; }
      .pf-container nav .pf-NavBar ul li a:active {
        background-color: transparent;
        color: black; }
    .pf-container nav .pf-NavBar ul li:active {
      background-color: transparent;
      color: black; }

/*********************************/
/***     Skills page css       ***/
/*********************************/
.parallax {
  /* The image used */
  /* Set a specific height */
  min-height: 750px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.pf-content {
  min-height: 90vh; }
  .pf-content header {
    padding: 0.5em 0.5em;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    color: black; }
  .pf-content .pf-exp {
    padding-bottom: 4em;
    text-align: center; }
    .pf-content .pf-exp ul li {
      text-decoration: none; }
      .pf-content .pf-exp ul li h4 {
        color: grey; }
  .pf-content .pf-skill {
    margin-top: 4em;
    color: grey; }
    .pf-content .pf-skill .parallax {
      /* The image used */
      /* Set a specific height */
      min-height: 700px;
      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
    .pf-content .pf-skill ul {
      font-size: 1.5em;
      display: block;
      margin-top: 2em; }
      .pf-content .pf-skill ul li {
        text-decoration: none;
        display: inline-block;
        margin: 1.4em;
        background-color: white; }
        .pf-content .pf-skill ul li label {
          filter: blur(0.2px);
          color: purple;
          padding: 0.2em;
          border-radius: 100%;
          background-color: white;
          box-shadow: 4px 4px 10px grey; }
          .pf-content .pf-skill ul li label img {
            width: 3em;
            height: 3em;
            padding-right: 4px; }
  .pf-content .pf-contactBox {
    margin-top: 4em;
    color: #FA5F17;
    border-radius: 4px; }
    .pf-content .pf-contactBox .pf-pic {
      margin-top: 1em;
      height: 10em;
      width: 10em;
      border-radius: 8px; }
    .pf-content .pf-contactBox .pf-contactCont {
      font-weight: medium;
      font-size: 2em; }
      .pf-content .pf-contactBox .pf-contactCont h4 {
        color: black;
        font-size: 2em; }
      .pf-content .pf-contactBox .pf-contactCont p {
        color: black; }
        .pf-content .pf-contactBox .pf-contactCont p a {
          color: black; }
  .pf-content .parallax {
    /* The image used */
    /* Set a specific height */
    min-height: 750px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    .pf-content .parallax .pf-projSec {
      color: orange;
      text-align: center; }
      .pf-content .parallax .pf-projSec h1 {
        padding-top: 2em;
        font-size: 4em; }

.pf-quotes .parallax {
  /* The image used */
  /* Set a specific height */
  min-height: 750px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
.pf-quotes .pf-well {
  font-family: Times, Times New Roman, Georgia, serif;
  color: black;
  font-weight: bold; }
  .pf-quotes .pf-well h1 {
    font-size: 5em;
    margin-top: 0em;
    padding-top: 4em; }

/*********************************/
/***     Contact page css      ***/
/*********************************/
/*********************************/
/***        Footer css         ***/
/*********************************/
footer p {
  color: black; }
  footer p a .logo-pic {
    height: 2.2em;
    width: 2.2em; }

/*# sourceMappingURL=styles.css.map */
